@mixin text {
  font-size: 25px;
  font-weight: bold;
  border: 1px solid blue;
}
@mixin space($space,$top, $right,$bottom,$left){
	#{$space}:$top $right $bottom $left;
}
.sidebar{
	@include space(padding,5px,5px,4px,6px);
	@include space(margin,5px,5px,4px,6px);
	
}

.danger{
	@include text;
	color:red;
}
.warning{
	@include text;
	color:orange;
}
@function width_wrapper($value){
	@return($value+20px);
}
.wrapper{
	width:width_wrapper(80px);
}
@function invert($color,$amount:100%){
	$inverse:change-color($color,$hue:hue($color)+180);
	@return mix($inverse,$color,$amount);
}
$primary-color:#036;
.abc{
	color: invert($primary-color,80%);
}
/*@use: https://sass-lang.com/documentation/at-rules/use*/
/*@forward: https://sass-lang.com/documentation/at-rules/forward */
